*.synctex.gz
.project
output/
dokumentation.pdf
*.pdf
*.swp
*.backup
*.bak
*.orig
*compile.log
*.DS_Store
*.log
*.pyc
# latex
*.log
*.aux
*.lof
*.lot
*.glo
*.bbl
*.bcf
*.toc
*.blg
*.fdb_latexmk
*.fls
*run_xml
E-Book_Redis/dokumentation.run.xml

