<!--
File: login.html
Author: Tim Steiner, Julian Bork, Felix Wilhelm, Marius Wergen
Date: October 13, 2023
Description: This file contains the login page.

Structure:
- login form
- input fields for email and password
- submit button
- link to registration page

Features:
- login to chatroom
- or register first
-->

<!DOCTYPE html>
<html lang="de" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Einloggen </title> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='loginAndRegister.css') }}">
   </head>
<body>
  <div class="wrapper">
    <h2>Einloggen</h2>
    <form action="{{ url_for('login.login') }}" method="POST">
      <div class="input-box">
        <input type="text" placeholder="E-Mail eingeben" name="email" id="email" required>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Passwort" name="password" id="password" required>
      </div>
      <h1 class="h3 mb-3" style="color:red; font-size: 90%;" id="pw_mismatch" hidden="True">Passwort oder Mail falsch!</h1>
      <div class="input-box button">
        <input type="Submit" value="Einloggen">
      </div>
      <div class="text">
        <h3>Noch kein Account? <a href="{{ url_for('registration.register') }}">registrieren</a></h3>
      </div>
    </form>
  </div>
  <script>
    try{
        var parts = window.location.search.substr(1).split("&");
        var $_GET = {};
        for (var i = 0; i < parts.length; i++) {
          var temp = parts[i].split("=");
          $_GET[decodeURIComponent(temp[0])] = decodeURIComponent(temp[1]);
        }
        var error = $_GET['error'];
        console.log(error);
        console.log(typeof(error)); 

        if (error == "True"){
          console.log("if")
          var error_element = document.getElementById("pw_mismatch");
          error_element.removeAttribute("hidden");
        }
      } catch (err){
        console.log(err);
      }
  </script>
</body>
</html>