<!DOCTYPE html>
<html lang="de" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registrieren </title> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='loginAndRegister.css') }}">
   </head>
<body>
  <div class="wrapper">
    <h2>Registrierung</h2>
    <form action="{{ url_for('registration.register') }}" method="POST">
      <div class="input-box">
        <input type="text" placeholder="Name eingeben" name="reg_username" id="reg_username" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="E-Mail eingeben" name="reg_email" id="reg_email" required>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Passwort" name="reg_password" id="reg_password" required>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Passwort wiederholen" required>
      </div>
      <div class="policy">
        <input type="checkbox">
        <h3>Ich akzeptiere die Nutzerbedingungen</h3>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Registrieren">
      </div>
      <div class="text">
        <h3>Haben Sie bereits einen Account? <a href="{{ url_for('login.login') }}">einloggen</a></h3>
      </div>
    </form>
  </div>
</body>
</html>